<!-- Let's Met Section -->
{% if '/' == page.url%}
<div class="ss-form">
  <div role="form" class="wpcf7" id="wpcf7-f716-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response">
      <p role="status" aria-live="polite" aria-atomic="true"></p>
      <ul></ul>
    </div>
    <form class="wpcf7-form init" id="contact-form">
      <div class="row mix-col">
        <div class="col-md-6 field-name">
          <span class="wpcf7-form-control-wrap" data-name="your-name"
            ><input
              type="text"
              name="your-name"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Full Name *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-email">
          <span class="wpcf7-form-control-wrap" data-name="your-email"
            ><input
              type="email"
              name="your-email"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Email *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-location">
          <span class="wpcf7-form-control-wrap" data-name="your-location"
            ><input
              type="number"
              name="your-contact"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Contact Number *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-company">
          <span class="wpcf7-form-control-wrap" data-name="your-company"
            ><input
              type="text"
              name="your-company"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Company *"
              required
          /></span>
        </div>
      </div>
      <div class="row no-gutters mix-col field-documents">
        <div class="col-md-6">
          <span class="wpcf7-form-control-wrap" data-name="your-description"
            ><input
              type="text"
              name="your-description"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Describe your project *"
              required
          /></span>
        </div>
        <!-- <div class="col-md-6">
          <div class="ss-file">
            <span
              class="wpcf7-form-control-wrap"
              data-name="project-description"
              ><input
                type="file"
                name="project-description"
                size="40"
                class="wpcf7-form-control wpcf7-file"
                accept=".pdf,.doc,.docx"
                aria-invalid="false"
            /></span>
            <span class="sr-only fileInputText"
              ><svg class="svg-icon-parent mr-1">
                <use xlink:href="#icon-attach"></use>
              </svg>
              Upload file</span
            >
            <span class="ss-file--placeholder filePlaceholder"></span>
            <span class="ss-file--reset fileReset">×</span>
            <label
              ><svg class="svg-icon-parent mr-1">
                <use xlink:href="#icon-attach"></use>
              </svg>
              or upload a file</label
            >
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-box"
            ><span class="wpcf7-form-control wpcf7-acceptance"
              ><span class="wpcf7-list-item"
                ><label
                  ><input
                    type="checkbox"
                    name="acceptance-box"
                    value="1"
                    aria-invalid="false"
                    checked
                  /><span class="wpcf7-list-item-label"
                    >I have read and accepted the
                    <a href="/privacy-policy">privacy policy</a> on Cyber Craft
                    Solutions</span
                  ></label
                ></span
              ></span
            ></span
          >
        </div>
        <div class="col-md-5">
          <input
            type="submit"
            value="Contact Us"
            class="wpcf7-form-control has-spinner wpcf7-submit ss-btn ss-btn--main"
          />
        </div>
      </div>
      <div class="d-none">
        <span class="wpcf7-form-control-wrap" data-name="redirectUrl"
          ><input
            type="text"
            name="redirectUrl"
            value=""
            size="40"
            class="wpcf7-form-control wpcf7-text d-none"
            aria-invalid="false"
        /></span>
      </div>
      <p style="display: none !important;">
        <label
          >&#916;<textarea
            name="_wpcf7_ak_hp_textarea"
            cols="45"
            rows="8"
            maxlength="100"
          ></textarea></label
        ><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="130" />
      </p>
      <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
  </div>
</div>
{% else if '/contact-us/' == page.url%}
<div class="ss-form pt-3">
  <div role="form" class="wpcf7" id="wpcf7-f716-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response">
      <p role="status" aria-live="polite" aria-atomic="true"></p>
      <ul></ul>
    </div>
    <form class="wpcf7-form init" id="contact-form">
      <div class="row mix-col">
        <div class="col-md-6 field-name">
          <span class="wpcf7-form-control-wrap" data-name="your-name"
            ><input
              type="text"
              name="your-name"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Full Name *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-email">
          <span class="wpcf7-form-control-wrap" data-name="your-email"
            ><input
              type="email"
              name="your-email"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Email *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-location">
          <span class="wpcf7-form-control-wrap" data-name="your-location"
            ><input
              type="number"
              name="your-contact"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Contact Number *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-company">
          <span class="wpcf7-form-control-wrap" data-name="your-company"
            ><input
              type="text"
              name="your-company"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Company *"
              required
          /></span>
        </div>
      </div>
      <div class="row no-gutters mix-col field-documents">
        <div class="col-md-6">
          <span class="wpcf7-form-control-wrap" data-name="your-description"
            ><input
              type="text"
              name="your-description"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Describe your project *"
              required
          /></span>
        </div>
        <!-- <div class="col-md-6">
          <div class="ss-file">
            <span
              class="wpcf7-form-control-wrap"
              data-name="project-description"
              ><input
                type="file"
                name="project-description"
                size="40"
                class="wpcf7-form-control wpcf7-file"
                accept=".pdf,.doc,.docx"
                aria-invalid="false"
            /></span>
            <span class="sr-only fileInputText"
              ><svg class="svg-icon-parent mr-1">
                <use xlink:href="#icon-attach"></use>
              </svg>
              Upload file</span
            >
            <span class="ss-file--placeholder filePlaceholder"></span>
            <span class="ss-file--reset fileReset">×</span>
            <label
              ><svg class="svg-icon-parent mr-1">
                <use xlink:href="#icon-attach"></use>
              </svg>
              or upload a file</label
            >
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-box"
            ><span class="wpcf7-form-control wpcf7-acceptance"
              ><span class="wpcf7-list-item"
                ><label
                  ><input
                    type="checkbox"
                    name="acceptance-box"
                    value="1"
                    aria-invalid="false"
                    checked
                  /><span class="wpcf7-list-item-label"
                    >I have read and accepted the
                    <a href="/privacy-policy/">privacy policy</a> on Cyber Craft
                    Solutions</span
                  ></label
                ></span
              ></span
            ></span
          >
        </div>
        <div class="col-md-5">
          <input
            type="submit"
            value="Contact Us"
            class="wpcf7-form-control has-spinner wpcf7-submit ss-btn ss-btn--main"
          />
        </div>
      </div>
      <div class="d-none">
        <span class="wpcf7-form-control-wrap" data-name="redirectUrl"
          ><input
            type="text"
            name="redirectUrl"
            size="40"
            class="wpcf7-form-control wpcf7-text d-none"
            aria-invalid="false"
        /></span>
      </div>
      <p style="display: none !important;">
        <label
          >&#916;<textarea
            name="_wpcf7_ak_hp_textarea"
            cols="45"
            rows="8"
            maxlength="100"
          ></textarea></label
        ><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="139" />
      </p>
      <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
  </div>
</div>
{% else %}
<div class="ss-form cl-black">
  <div role="form" class="wpcf7" id="wpcf7-f716-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response">
      <p role="status" aria-live="polite" aria-atomic="true"></p>
      <ul></ul>
    </div>
    <form class="wpcf7-form init" id="contact-form">
      <div class="row mix-col">
        <div class="col-md-6 field-name">
          <span class="wpcf7-form-control-wrap" data-name="your-name"
            ><input
              type="text"
              name="your-name"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Full Name *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-email">
          <span class="wpcf7-form-control-wrap" data-name="your-email"
            ><input
              type="email"
              name="your-email"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email ss-input"
              aria-required="true"
              aria-invalid="false"
              placeholder="Your Email *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-location">
          <span class="wpcf7-form-control-wrap" data-name="your-location"
            ><input
              type="number"
              name="your-contact"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Contact Number *"
              required
          /></span>
        </div>
        <div class="col-md-6 field-company">
          <span class="wpcf7-form-control-wrap" data-name="your-company"
            ><input
              type="text"
              name="your-company"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Your Company *"
              required
          /></span>
        </div>
      </div>
      <div class="row no-gutters mix-col field-documents">
        <div class="col-md-6">
          <span class="wpcf7-form-control-wrap" data-name="your-description"
            ><input
              type="text"
              name="your-description"
              value=""
              size="40"
              class="wpcf7-form-control wpcf7-text ss-input"
              aria-invalid="false"
              placeholder="Describe your project *"
              required
          /></span>
        </div>
        <!-- <div class="col-md-6">
            <div class="ss-file">
              <span
                class="wpcf7-form-control-wrap"
                data-name="project-description"
                ><input
                  type="file"
                  name="project-description"
                  size="40"
                  class="wpcf7-form-control wpcf7-file"
                  accept=".pdf,.doc,.docx"
                  aria-invalid="false"
              /></span>
              <span class="sr-only fileInputText"
                ><svg class="svg-icon-parent mr-1">
                  <use xlink:href="#icon-attach"></use>
                </svg>
                Upload file</span
              >
              <span
                class="ss-file--placeholder filePlaceholder"
              ></span>
              <span class="ss-file--reset fileReset">×</span>
              <label
                ><svg class="svg-icon-parent mr-1">
                  <use xlink:href="#icon-attach"></use>
                </svg>
                or upload a file</label
              >
            </div>
          </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-box"
            ><span class="wpcf7-form-control wpcf7-acceptance"
              ><span class="wpcf7-list-item"
                ><label
                  ><input
                    type="checkbox"
                    name="acceptance-box"
                    value="1"
                    aria-invalid="false"
                    checked
                  /><span class="wpcf7-list-item-label"
                    >I have read and accepted the
                    <a href="/privacy-policy">privacy policy</a>
                    on Cyber Craft Solutions</span
                  ></label
                ></span
              ></span
            ></span
          >
        </div>
        <div class="col-md-5">
          <input
            type="submit"
            value="Contact Us"
            class="wpcf7-form-control has-spinner wpcf7-submit ss-btn ss-btn--main"
          />
        </div>
      </div>
      <div class="d-none">
        <span class="wpcf7-form-control-wrap" data-name="redirectUrl"
          ><input
            type="text"
            name="redirectUrl"
            size="40"
            class="wpcf7-form-control wpcf7-text d-none"
            aria-invalid="false"
        /></span>
      </div>
      <p style="display: none !important;">
        <label
          >&#916;<textarea
            name="_wpcf7_ak_hp_textarea"
            cols="45"
            rows="8"
            maxlength="100"
          ></textarea></label
        ><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="244" />
      </p>
      <div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  window.addEventListener(
    "load",
    function() {
      var contactForm = document.getElementById("contact-form");
      contactForm.addEventListener("submit", function(event) {
        event.preventDefault();
        var template_params = {
          from_name:
            contactForm.elements["your-name"].value +
            "-" +
            contactForm.elements["your-description"].value +
            "(" +
            contactForm.elements["your-contact"].value +
            "- " +
            contactForm.elements["your-email"].value +
            ")",
          to_name: "{{ site.data.integration.emailjs.to_name }}",
          message: contactForm.elements["your-description"].value
        };
        emailjs
          .send(
            "{{ site.data.integration.emailjs.service_id }}",
            "{{ site.data.integration.emailjs.template_id }}",
            template_params,
            "{{ site.data.integration.emailjs.public_key }}"
          )
          .then(
            function() {
              window.location.href = "/thank-you-for-submission"; //relative to domain
            },
            function(error) {
              window.location.href = "/404"; //relative to domain
            }
          );
      });
    },
    false
  );
</script>
<!-- END Let's Met Section -->
