<!-- Clients slider -->
{% if '/' == page.url%}
<section class="sec-clients bg-grey-2 py-4 overflow-hidden">
  <div
    data-aos="fade-up"
    data-aos-delay="250"
    class="container pt-md-3 pb-md-4 px-0 px-md-3"
  >
    <h3 class="text-center txt-body-3 cl-muted text-uppercase mb-4">
      Our Clients
    </h3>

    <div class="clientsSlider swiper-container overflow-visible">
      <div class="swiper-wrapper">
        <div
          data-aos="fade-up"
          data-aos-delay="350"
          class="client-slide swiper-slide p-3 p-md-0 h-auto d-inline-flex justify-content-center align-items-center"
        ></div>
        {% assign clients = site.data.clients | sort: 'weight' %} {% for client
        in clients %}
        <div
          data-aos="fade-up"
          data-aos-delay="350"
          class="client-slide swiper-slide p-3 p-md-0 h-auto d-inline-flex justify-content-center align-items-center"
        >
          <a
            href="{{ client.case_study | relative_url }}"
            class="client-slide--holder"
          >
            <img
              width="{{ client.image.width }}"
              height="{{ client.image.height }}"
              class="mw-100 lazyload lazy-fade m-0"
              style="aspect-ratio: {{ client.image.aspect - ratio }}"
              data-src="{{ client.image.logo_url | relative_url }}"
              alt="{{ client.title }}"
            />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% else %}
<section class="sec-clients bg-grey-1 py-5">
  <div class="container px-0 px-md-3">
    <div class="clientsSlider swiper-container">
      <div class="swiper-wrapper">
        {% assign clients = site.data.clients | sort: 'weight' %} {% for client
        in clients %}
        <div
          data-aos="fade-up"
          data-aos-delay="0"
          class="client-slide swiper-slide p-3 p-md-0 h-auto d-inline-flex justify-content-center align-items-center"
        >
          <a href="javascript:;" class="client-slide--holder">
            <img
              width="{{ client.image.width }}"
              height="{{ client.image.height }}"
              class="mw-100 lazyload lazy-fade m-0"
              style="aspect-ratio: {{ client.image.aspect - ratio }} "
              data-src="{{ client.image.logo_url | relative_url }}"
              alt="{{ client.title }}"
            />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{%endif%}
<!-- END Clients slider -->