<div class="row">
  <div class="col-12 col-md-8 col-xl-4 mb-6 mb-xl-8">
    <ul id="menu-our-approach" class="footer-nav list-reset">
      <li
        id="menu-item-371"
        class="nav-item--title menu-item menu-item-type-post_type_archive menu-item-object-approaches menu-item-371"
      >
        <a href="/approach/">Our Approach</a>
      </li>
      <li
        id="menu-item-3655"
        class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-3655"
      >
        <a href="/approach/dedicated-team/">Managed Team</a>
      </li>
      <li
        id="menu-item-3656"
        class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-3656"
      >
        <a href="/approach/managed-product-development/"
          >Managed Product Development</a
        >
      </li>
      <li
        id="menu-item-3657"
        class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-3657"
      >
        <a href="/approach/agile-driven/">Lean Agile</a>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-8 col-xl-4 mb-6 mb-xl-8">
    <ul id="menu-services-menu" class="footer-nav list-reset">
      <li
        id="menu-item-366"
        class="nav-item--title menu-item menu-item-type-post_type_archive menu-item-object-services menu-item-366"
      >
        <a href="/service/">Services</a>
      </li>
      <li
        id="menu-item-14052"
        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-14052"
      >
        <a href="/service/cloud-solutions/">Cloud &#038; DevOps</a>
      </li>
      <li
        id="menu-item-24756"
        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24756"
      >
        <a href="/service/data-and-analytics/">Data and Analytics</a>
      </li>
      <li
        id="menu-item-18187"
        class="menu-item menu-item-type-post_type menu-item-object-industries menu-item-18187"
      >
        <a href="/igaming/integration-services/">Integrations and AI/ML</a>
      </li>
      <li
        id="menu-item-367"
        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-367"
      >
        <a href="/service/agile-transformation/">Agile Transformation</a>
      </li>
      <li
        id="menu-item-7249"
        class="menu-item menu-item-type-post_type menu-item-object-services menu-item-7249"
      >
        <a href="/service/custom-software-development/"
          >Application Development</a
        >
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-8 col-xl-4 mb-6 mb-xl-8">
    <ul id="menu-company" class="footer-nav list-reset">
      <li
        id="menu-item-444"
        class="nav-item--title menu-item menu-item-type-post_type menu-item-object-page menu-item-444"
      >
        <a href="/company/">Company</a>
      </li>
      <li
        id="menu-item-373"
        class="nav-item--title menu-item menu-item-type-post_type menu-item-object-page menu-item-373"
      >
        <a href="/insight/">Insights</a>
      </li>
      <li
        id="menu-item-374"
        class="nav-item--title menu-item menu-item-type-post_type_archive menu-item-object-cases menu-item-374"
      >
        <a href="/case/">Case Studies</a>
      </li>
    </ul>
  </div>

  <div class="col-12 mb-3">
    <hr class="ss-hr" />
  </div>
</div>
