<div class="ss-header--container container d-flex flex-wrap align-items-center mt-auto">
  <a href="{{ site.baseurl }}" class="ss-header--logo d-inline-flex align-items-center">
    <img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" />
  </a>

  <nav class="ss-header--nav ml-auto d-none d-lg-flex">
      <ul id="menu-main-menu" class="ss-header--menu d-flex flex-wrap align-items-center">
          <li id="menu-item-351"
              class="menu-item menu-item-type-post_type_archive menu-item-object-approaches menu-item-has-children menu-item-351 nav-item has-mmenu
              {% if page.url contains 'approach' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink" href="/approach/">Our Approach</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-white"
                               style="background-color: #1c140e"><img class="lazyload lazy-fade"
                                                                      data-src="{{'images/uploads/sites/5/2021/03/appr-01.jpg' | relative_url }}">
                              <div class="ss-megamenu--header-tile img-cover cl-white">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-ttl-3 mb-3">Our Approach</div>
                                      <div class="txt-body-4">Cyber Craft Solutions may not be for everyone. Clients
                                          who appreciate working with Cyber Craft Solutions are those who trust that
                                          the Cyber Craft teams will deliver the work tested, proven, and on time,
                                          those who enjoy collaboration within the uniquely open and spirited
                                          Cyber Craft Solutions culture, and those who are as committed to Agile as
                                          Cyber Craft Solutions is.
                                      </div>
                                      <div class="mt-3"><a href="/approach/"
                                                           class="btn-link more-link cl-accent-1 text-uppercase">Learn
                                          more ➞</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Our Approach</div>
                          <li id="menu-item-2195"
                              class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2195 nav-item">
                              <a class="nav-link mmenuLink" href="/approach/dedicated-team/">Managed Team</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100"
                                       style="background-color: #1c140e"><img class="lazyload lazy-fade"
                                                                              data-src="{{'/images/uploads/sites/5/2021/03/appr-01.jpg' | relative_url }}">
                                      <div class="ss-megamenu--header-tile img-cover cl-white">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Managed Team</div>
                                              <div class="txt-body-4">Select Extended Team / Managed Team /
                                                  Offshore Delivery Center Model of engagement based on the size
                                                  and nature of your project.

                                                  Select the style of engagement based on the size and nature of
                                                  your project.

                                                  For those whose product vision is ready to go through the
                                                  pipeline of product development, to prototype and beyond, and be
                                                  returned completed to its rightful owner.
                                              </div>
                                              <div class="mt-3"><a href="/approach/dedicated-team/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li id="menu-item-2196"
                              class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2196 nav-item">
                              <a class="nav-link mmenuLink" href="/approach/managed-product-development/">Managed
                                  Product Development</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100"
                                       style="background-color: #1c140e"><img class="lazyload lazy-fade"
                                                                              data-src="{{'/images/uploads/sites/5/2021/03/appr-02.jpg' | relative_url }}">
                                      <div class="ss-megamenu--header-tile img-cover cl-white">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Managed Product Development</div>
                                              <div class="txt-body-4">For those whose product vision is ready to
                                                  go through the pipeline of our Agile product development, to
                                                  prototype and beyond, and become an innovative product on the
                                                  market.
                                              </div>
                                              <div class="mt-3"><a
                                                      href="/approach/managed-product-development/"
                                                      class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li id="menu-item-2194"
                              class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2194 nav-item">
                              <a class="nav-link mmenuLink" href="/approach/agile-driven/">Lean Agile</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100"
                                       style="background-color: #1c140e"><img class="lazyload lazy-fade"
                                                                              data-src="{{'/images/uploads/sites/5/2021/03/appr-03.jpg' | relative_url }}">
                                      <div class="ss-megamenu--header-tile img-cover cl-white">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Lean Agile</div>
                                              <div class="txt-body-4">Explore the Agile iterative philosophy of
                                                  building a product incrementally, delivering it in smaller
                                                  pieces for greater flexibility, speed to market, and response to
                                                  change.
                                              </div>
                                              <div class="mt-3"><a href="/approach/agile-driven/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
          </li>
          <li id="menu-item-342"
              class="menu-item menu-item-type-post_type_archive menu-item-object-services menu-item-has-children menu-item-342 nav-item has-mmenu
              {% if page.url contains 'service' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink" href="/service/">Services</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-main">
                              <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                      class="lazyload lazy-fade"
                                      data-src="{{'/images/uploads/sites/5/2021/03/bg-sign-services-main.png' | relative_url }}">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-ttl-3 mb-3">Services</div>
                                      <div class="txt-body-4">Cyber Craft Solutions provides custom software
                                          development to help build, sustain and modernize enterprise software.
                                          Agile Transformation and Cloud Solutions are the heart of our
                                          10-year expertise in serving growth-driven clients.
                                      </div>
                                      <div class="mt-3"><a href="/service/"
                                                           class="btn-link more-link cl-accent-1 text-uppercase">Learn
                                          more ➞</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Services</div>
                          <li id="menu-item-19441"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19441 nav-item">
                              <a class="nav-link mmenuLink">Application Development<span
                                      class="nav-arrow arrow-right ml-auto subMenuOpen"><svg class="svg-icon"><use
                                      xlink:href="#icon-arrow-right"></use></svg></span></a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-custom.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Application Development</div>
                                              <div class="txt-body-4">We deliver custom application development
                                                  services including mobile application development, software
                                                  engineering, QA, UI/UX Design and digital marketing across a
                                                  variety of domains for larger and smaller clients using DevOps
                                                  and Agile approaches for greater clients’ results.
                                              </div>
                                              <div class="mt-3"><a
                                                      href="/service/custom-software-development/"
                                                      class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="ss-megamenu--sub my-lg-4 pl-4">
                                  <div class="ss-megamenu--sub-ttl py-2">Application Development</div>
                                  <ul>
                                      <li id="menu-item-19432"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-19432 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/custom-software-development/">Application
                                              Development</a></li>
                                      <li id="menu-item-3661"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3661 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/mobile-application-development/">Custom Mobile App
                                              Development</a></li>
                                      <li id="menu-item-3665"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3665 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/quality-assurance-and-testing/">QA and Testing</a>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li id="menu-item-19435"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19435 nav-item">
                              <a class="nav-link mmenuLink">Cloud &#038; DevOps<span
                                      class="nav-arrow arrow-right ml-auto subMenuOpen"><svg class="svg-icon"><use
                                      xlink:href="#icon-arrow-right"></use></svg></span></a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-cloud-solutions.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Cloud & DevOps</div>
                                              <div class="txt-body-4">We provide cloud native development, cloud
                                                  modernization, cloud managed services, DevOps and application
                                                  assessment to deliver extra data protection, increased speed,
                                                  elastic scaling, and lowered capital expense for our clients.
                                              </div>
                                              <div class="mt-3"><a href="/service/cloud-solutions/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="ss-megamenu--sub my-lg-4 pl-4">
                                  <div class="ss-megamenu--sub-ttl py-2">Cloud & DevOps</div>
                                  <ul>
                                      <li id="menu-item-14120"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-14120 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/cloud-native-development/">Cloud Native
                                              Development Services</a></li>
                                      <li id="menu-item-14124"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-14124 nav-item">
                                          <a class="nav-link mmenuLink" href="/service/devops/">DevOps
                                              Services</a></li>
                                      <li id="menu-item-24406"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24406 nav-item">
                                          <a class="nav-link mmenuLink" href="/service/performance-testing/">Performance
                                              Testing</a></li>
                                  </ul>
                              </div>
                          </li>
                          <li id="menu-item-16628"
                              class="menu-item menu-item-type-post_type menu-item-object-services menu-item-16628 nav-item">
                              <a class="nav-link mmenuLink" href="/service/application-modernization/">Application
                                  Modernization</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-omnichannel-orchestration.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Application Modernization</div>
                                              <div class="txt-body-4">Transform your legacy applications to make
                                                  them Cloud-ready and take a full advantage of what Cloud has to
                                                  offer in terms of agility, scalability, and performance.
                                              </div>
                                              <div class="mt-3"><a href="/service/application-modernization/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li id="menu-item-24630"
                              class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24630 nav-item">
                              <a class="nav-link mmenuLink" href="/service/managed-infrastructure/">Managed
                                  Infrastructure</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2023/03/managed-infrastructure-megamenu-image.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Managed Infrastructure</div>
                                              <div class="txt-body-4">Empower yourself for future growth, innovate
                                                  and create business value while we manage the complexities of
                                                  your IT infrastructure.
                                              </div>
                                              <div class="mt-3"><a href="/service/managed-infrastructure/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li id="menu-item-19436"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19436 nav-item">
                              <a class="nav-link mmenuLink">Agile Services<span
                                      class="nav-arrow arrow-right ml-auto subMenuOpen"><svg class="svg-icon"><use
                                      xlink:href="#icon-arrow-right"></use></svg></span></a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-agile-transformation.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Agile Services</div>
                                              <div class="txt-body-4">Transform your organizational model with our
                                                  Agile transformation and coaching services to embrace new
                                                  principles and thrive in a flexible, collaborative,
                                                  self-organizing, fast-changing environment and better react to
                                                  the market changes.
                                              </div>
                                              <div class="mt-3"><a href="/service/agile-transformation/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="ss-megamenu--sub my-lg-4 pl-4">
                                  <div class="ss-megamenu--sub-ttl py-2">Agile Services</div>
                                  <ul>
                                      <li id="menu-item-19456"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-19456 nav-item">
                                          <a class="nav-link mmenuLink" href="/service/agile-transformation/">Agile
                                              Transformation</a>
                                          <div class="mmenuHeadingContent d-none">
                                              <div class="ss-megamenu--header-spacer img-cover h-100">
                                                  <div class="ss-megamenu--header-tile img-cover cl-main">
                                                      <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                                          <div class="txt-ttl-3 mb-3">Agile Transformation</div>
                                                          <div class="txt-body-4">Transform your organizational
                                                              model with our Agile transformation and coaching
                                                              services to embrace new principles and thrive in a
                                                              flexible, collaborative, self-organizing,
                                                              fast-changing environment and better react to the
                                                              market changes.
                                                          </div>
                                                          <div class="mt-3"><a
                                                                  href="/service/agile-transformation/"
                                                                  class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                              more ➞</a></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>
                                      <li id="menu-item-3123"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3123 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/agile-consulting-and-coaching/">Agile Consulting
                                              and Coaching</a></li>
                                      <li id="menu-item-3121"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3121 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/service/agile-training-and-certification/">Agile Training
                                              and Certifications</a></li>
                                  </ul>
                              </div>
                          </li>
                          <li id="menu-item-24036"
                              class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24036 nav-item">
                              <a class="nav-link mmenuLink" href="/service/data-and-analytics/">Data and
                                  Analytics</a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-custom.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Data and Analytics</div>
                                              <div class="txt-body-4">Leverage data analytics as a service to make
                                                  informed business decisions based on data rather than intuition
                                              </div>
                                              <div class="mt-3"><a href="/service/data-and-analytics/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <!-- <li id="menu-item-24623"
                              class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24623 nav-item">
                              <a class="nav-link mmenuLink" href="/service/experience-design/">Experience
                                  Design </a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-service-design.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Experience Design </div>
                                              <div class="txt-body-4">We take a customer-centric, service design
                                                  approach to designing experiences. The end goal of our user
                                                  experience design services is to deliver products that run
                                                  smoothly, address the clients’ problems and create competitive
                                                  leverage versus the alternatives.
                                              </div>
                                              <div class="mt-3"><a href="/service/experience-design/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li id="menu-item-24403"
                              class="menu-item menu-item-type-post_type menu-item-object-services menu-item-has-children menu-item-24403 nav-item">
                              <a class="nav-link mmenuLink" href="/service/digital-marketing/">Digital
                                  Marketing<span class="nav-arrow arrow-right ml-auto subMenuOpen"><svg
                                          class="svg-icon"><use xlink:href="#icon-arrow-right"></use></svg></span></a>
                              <div class="mmenuHeadingContent d-none">
                                  <div class="ss-megamenu--header-spacer img-cover h-100">
                                      <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                              class="lazyload lazy-fade"
                                              data-src="{{'/images/uploads/sites/5/2021/03/mmserv-igaming-solutions.png' | relative_url }}">
                                          <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                              <div class="txt-ttl-3 mb-3">Digital Marketing</div>
                                              <div class="txt-body-4">We help businesses enter the digital world
                                                  and create an engaged and dedicated customer base by
                                                  implementing digital marketing orchestration for real-time and
                                                  quality results.
                                              </div>
                                              <div class="mt-3"><a href="/service/digital-marketing/"
                                                                   class="btn-link more-link cl-accent-1 font-weight-bold text-uppercase">Learn
                                                  more ➞</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li> -->
                      </ul>
                  </div>
          </li>
          <li id="menu-item-17520"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17520 nav-item has-mmenu
              {% if page.url contains 'industry' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink">Industries</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-white"><img
                                  class="lazyload lazy-fade"
                                  data-src="{{'/images/uploads/sites/5/2021/11/menu-banner-IG.jpg' | relative_url }}">
                              <div class="ss-megamenu--header-tile img-cover cl-white">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-ttl-3 mb-3">Integrations and AI/ML Software
                                          Development
                                      </div>
                                      <div class="mt-3"><a href="/igaming/software-development/"
                                                           class="btn-link more-link cl-accent-1 text-uppercase">Learn
                                          more ➞</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Industries</div>
                          <li id="menu-item-19439"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19439 nav-item">
                              <a class="nav-link mmenuLink">Integrations<span
                                      class="nav-arrow arrow-right ml-auto subMenuOpen"><svg class="svg-icon"><use
                                      xlink:href="#icon-arrow-right"></use></svg></span></a>
                              <div class="ss-megamenu--sub my-lg-4 pl-4">
                                  <div class="ss-megamenu--sub-ttl py-2">Integration</div>
                                  <ul>
                                      <li id="menu-item-17525"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-17525 nav-item">
                                          <a class="nav-link mmenuLink" href="/igaming/integration-services/">Third Party Integration
                                              Services </a></li>
                                      <li id="menu-item-21323"
                                          class="menu-item menu-item-type-post_type menu-item-object-services menu-item-21323 nav-item">
                                          <a class="nav-link mmenuLink"
                                             href="/igaming/ai-driven-content-personalization/">AI-driven
                                              content personalization</a></li>
                                  </ul>
                              </div>
                          </li>
                          <li id="menu-item-18729"
                              class="menu-item menu-item-type-post_type menu-item-object-industries menu-item-18729 nav-item">
                              <a class="nav-link mmenuLink"
                                 href="/industry/healthcare-software-development/">Healthcare</a></li>
                          <li id="menu-item-20978"
                              class="menu-item menu-item-type-post_type menu-item-object-industries menu-item-20978 nav-item">
                              <a class="nav-link mmenuLink"
                                 href="/industry/custom-elearning-software-development/">eLearning</a></li>
                      </ul>
                  </div>
          </li>
          <!-- <li id="menu-item-384"
              class="menu-item menu-item-type-post_type_archive menu-item-object-cases menu-item-has-children menu-item-384 nav-item has-mmenu
              {% if page.url contains 'case' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink" href="/case/">Case Studies</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-white"
                               style="background-color: #f5f8fa"><img class="lazyload lazy-fade"
                                                                      data-src="{{'/images/uploads/sites/5/2022/04/menu-cover-GOAT-case-1.jpg' | relative_url }}">
                              <div class="ss-megamenu--header-tile img-cover cl-white">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-ttl-3 mb-3">Delivering iGaming insights and infrastructure
                                          metrics for Goat Interactive
                                      </div>
                                      <div class="mt-3"><a
                                              href="cases/cloud-managed-services-for-igaming-platform.html"
                                              class="btn-link more-link cl-accent-1 text-uppercase">Learn more
                                          ➞</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Case Studies</div>
                          <li id="menu-item-19442"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19442 nav-item">
                              <a class="nav-link mmenuLink" href="cases.html">All Cases</a></li>
                          <li id="menu-item-14517"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14517 nav-item">
                              <a class="nav-link mmenuLink"
                                 href="cases41e3.html?service=online-betting-and-gambling">Sports Betting and
                                  iGaming</a></li>
                          <li id="menu-item-14518"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14518 nav-item">
                              <a class="nav-link mmenuLink" href="cases26d8.html?service=cloud-devops">Cloud
                                  &#038; DevOps</a></li>
                          <li id="menu-item-19443"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19443 nav-item">
                              <a class="nav-link mmenuLink"
                                 href="cases3997.html?service=healthcare-software-development">Healthcare</a></li>
                          <li id="menu-item-14516"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14516 nav-item">
                              <a class="nav-link mmenuLink" href="cases8c50.html?service=agile-transformation">Agile
                                  Transformation</a></li>
                          <li id="menu-item-19444"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19444 nav-item">
                              <a class="nav-link mmenuLink"
                                 href="cases37f7.html?service=elearning-software-development">eLearning</a></li>
                          <li id="menu-item-14519"
                              class="mobile-only menu-item menu-item-type-post_type_archive menu-item-object-cases menu-item-14519 nav-item">
                              <a class="nav-link mmenuLink" href="cases.html">View all</a></li>
                      </ul>
                  </div>
          </li> -->
          <li id="menu-item-443"
              class="hide-submenu-desk1 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-443 nav-item has-mmenu
              {% if page.url == '/company/' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink" href="/company/">Company</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                            <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-white"
                            style="background-color: #1c140e"><img class="lazyload lazy-fade"
                                                                   data-src="{{'images/uploads/sites/5/2019/09/fb-cover-2.png' | relative_url }}">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-main"
                               >
                              <div class="ss-megamenu--header-tile img-cover cl-main"><img
                                      class="lazyload lazy-fade"
                                      data-src="{{'/images/uploads/sites/5/2021/03/f5f8fa-1px.jpg' | relative_url }}">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-body-4 font-title my-4">
                                          <div class="ss-megamenu--header-quote font-title">
                                              <svg width="32" height="32">
                                                  <use xlink:href="#icon-quote"></use>
                                              </svg>
                                              From Ideation to MMP to Hyper Growth.
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Company</div>
                          <li id="menu-item-5931"
                              class="hideSubmenu menu-item menu-item-type-custom menu-item-object-custom menu-item-5931 nav-item">
                              <a class="nav-link mmenuLink" href="/company/#meet-cyber-craft-solutions">Meet
                                  Cyber Craft Solutions</a></li>
                          <li id="menu-item-5932"
                              class="hideSubmenu menu-item menu-item-type-custom menu-item-object-custom menu-item-5932 nav-item">
                              <a class="nav-link mmenuLink" href="/company/#people-and-culture">People and
                                  Culture</a></li>
                          
                      </ul>
                  </div>
          </li>
          <li id="menu-item-341"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-341 nav-item has-mmenu
              {% if page.url contains 'insight' %}current-menu-item{% endif %}">
              <a class="nav-link mmenuLink" href="/insight/">Insights</a>
              <div class="ss-megamenu ssMegaMenu px-5 px-lg-0">
                  <div class="ss-megamenu--row d-lg-flex flex-lg-wrap">
                      <div class="ss-megamenu--header">
                          <div class="ss-megamenu--header-spacer img-cover mmenuDefHeader h-100 cl-white"
                               style="background-color: #f5f8fa"><img class="lazyload lazy-fade"
                                                                      data-src="{{'/images/uploads/sites/5/2021/09/MicrosoftTeams-image-17.jpg' | relative_url }}">
                              <div class="ss-megamenu--header-overlay"></div>
                              <div class="ss-megamenu--header-tile img-cover cl-white">
                                  <div class="ss-megamenu--header-inner py-4 py-xl-5">
                                      <div class="txt-ttl-3 mb-3">Article</div>
                                      <div class="txt-body-4">Stress-Free Cloud Migration: Creating a Cloud
                                          Readiness Assessment Plan
                                      </div>
                                      <div class="mt-3"><a
                                              href="/insight/cloud-readiness-assessment-checklist/"
                                              class="btn-link more-link cl-accent-1 text-uppercase">Learn more
                                          ➞</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="mmenuHeader h-100 d-none"></div>
                      </div>
                      <ul class='ss-megamenu--nav py-lg-4 '>
                          <div class="ss-megamenu--sub-ttl py-2">Insights</div>
                          <li id="menu-item-12578"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12578 nav-item">
                              <a class="nav-link mmenuLink" href="/insight?category=article">Articles</a>
                          </li>
                          <li id="menu-item-12579"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12579 nav-item">
                              <a class="nav-link mmenuLink" href="/insight?category=news">News</a></li>
                          <li id="menu-item-12580"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12580 nav-item">
                              <a class="nav-link mmenuLink" href="/insight?category=whitepaper">Whitepapers</a>
                          </li>
                          <li id="menu-item-12581"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12581 nav-item">
                              <a class="nav-link mmenuLink" href="/insight?category=event">Events</a>
                          </li>
                      </ul>
                  </div>
          </li>
          <li id="menu-item-347"
              class="d-lg-inline-flex pl-lg-2 pl-xl-3 nav-item--btn menu-item menu-item-type-post_type menu-item-object-page menu-item-347 nav-item
              {% if page.url == 'contact-us' %}current-menu-item{% endif %}">
              <a class="ss-btn ss-btn--main nav-item--btn" href="/contact-us/">Contact Us</a></li>
          <!-- <li id="menu-item-8242" class="nav-item--search d-none d-md-block pl-lg-2 pl-xl-3 mr-xl-n4 menu-item menu-item-type-custom menu-item-object-custom menu-item-8242 nav-item"><a class="nav-link searchToggler"><svg class="svg-icon"><use xlink:href="#icon-search"></use></svg><span class="sr-only">Search</span></a></li> -->
      </ul>
  </nav>

  <button id="navToggler" class="btn-toggler ml-auto d-lg-none mr-n1">
      <span class="sr-only">Toggle Navigation</span>
      <span class="btn-toggler--line"></span>
      <span class="btn-toggler--line"></span>
      <span class="btn-toggler--line"></span>
  </button>
</div>