<nav class="nav-drawer d-lg-none">
  <div class="nav-drawer--header px-5 d-flex align-items-center">
    <a
      href="{{ site.baseurl }}"
      class="nav-drawer--logo d-inline-flex align-items-center"
    >
      <img
        width="{{ site.logo.mobile_width }}"
        height="{{ site.logo.mobile_height }}"
        alt="{{ site.title }}"
        src="{{ site.logo.mobile | relative_url }}"
      />
    </a>
  </div>
  <div class="nav-drawer--body">
    <ul id="menu-main-menu-1" class="nav-menu px-5 py-4 m-0">
      <li
        class="menu-item menu-item-type-post_type_archive menu-item-object-approaches menu-item-has-children menu-item-351"
      >
        <a class="nav-item subMenuOpen" href="/approach/"
          >Our Approach<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2195"
          >
            <a class="nav-item" href="/approach/dedicated-team/"
              >Managed Team</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2196"
          >
            <a class="nav-item" href="/approach/managed-product-development/"
              >Managed Product Development</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-approaches menu-item-2194"
          >
            <a class="nav-item" href="/approach/agile-driven/">Lean Agile</a>
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-post_type_archive menu-item-object-services menu-item-has-children menu-item-342"
      >
        <a class="nav-item subMenuOpen" href="/service/"
          >Services<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19441"
          >
            <a class="nav-item subMenuOpen"
              >Application Development<span class="nav-arrow arrow-right ml-1"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-right"></use></svg></span
            ></a>
            <ul class="sub-menu px-5 py-4">
              <li class="sub-menu--title mb-3">
                <span class="nav-item subMenuClose"
                  ><span class="nav-arrow arrow-left"
                    ><svg class="svg-icon">
                      <use xlink:href="#icon-arrow-left"></use></svg></span
                  ><span class="subMenuCloseTitle">Go Back</span></span
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-19432"
              >
                <a class="nav-item" href="/service/custom-software-development/"
                  >Application Development</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3661"
              >
                <a
                  class="nav-item"
                  href="/service/mobile-application-development/"
                  >Custom Mobile App Development</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3665"
              >
                <a
                  class="nav-item"
                  href="/service/quality-assurance-and-testing/"
                  >QA and Testing</a
                >
              </li>
            </ul>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19435"
          >
            <a class="nav-item subMenuOpen"
              >Cloud &#038; DevOps<span class="nav-arrow arrow-right ml-1"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-right"></use></svg></span
            ></a>
            <ul class="sub-menu px-5 py-4">
              <li class="sub-menu--title mb-3">
                <span class="nav-item subMenuClose"
                  ><span class="nav-arrow arrow-left"
                    ><svg class="svg-icon">
                      <use xlink:href="#icon-arrow-left"></use></svg></span
                  ><span class="subMenuCloseTitle">Go Back</span></span
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-14120"
              >
                <a class="nav-item" href="/service/cloud-native-development/"
                  >Cloud Native Development Services</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-14124"
              >
                <a class="nav-item" href="/service/devops/">DevOps Services</a>
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24406"
              >
                <a class="nav-item" href="/service/performance-testing/"
                  >Performance Testing</a
                >
              </li>
            </ul>
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-services menu-item-16628"
          >
            <a class="nav-item" href="/service/application-modernization/"
              >Application Modernization</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24630"
          >
            <a class="nav-item" href="/service/managed-infrastructure/"
              >Managed Infrastructure</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19436"
          >
            <a class="nav-item subMenuOpen"
              >Agile Services<span class="nav-arrow arrow-right ml-1"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-right"></use></svg></span
            ></a>
            <ul class="sub-menu px-5 py-4">
              <li class="sub-menu--title mb-3">
                <span class="nav-item subMenuClose"
                  ><span class="nav-arrow arrow-left"
                    ><svg class="svg-icon">
                      <use xlink:href="#icon-arrow-left"></use></svg></span
                  ><span class="subMenuCloseTitle">Go Back</span></span
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-19456"
              >
                <a class="nav-item" href="/service/agile-transformation/"
                  >Agile Transformation</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3123"
              >
                <a
                  class="nav-item"
                  href="/service/agile-consulting-and-coaching/"
                  >Agile Consulting and Coaching</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-3121"
              >
                <a
                  class="nav-item"
                  href="/service/agile-training-and-certification/"
                  >Agile Training and Certifications</a
                >
              </li>
            </ul>
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-services menu-item-24036"
          >
            <a class="nav-item" href="/service/data-and-analytics/"
              >Data and Analytics</a
            >
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17520"
      >
        <a class="nav-item subMenuOpen"
          >Industries<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19439"
          >
            <a class="nav-item subMenuOpen"
              >Integrations<span class="nav-arrow arrow-right ml-1"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-right"></use></svg></span
            ></a>
            <ul class="sub-menu px-5 py-4">
              <li class="sub-menu--title mb-3">
                <span class="nav-item subMenuClose"
                  ><span class="nav-arrow arrow-left"
                    ><svg class="svg-icon">
                      <use xlink:href="#icon-arrow-left"></use></svg></span
                  ><span class="subMenuCloseTitle">Go Back</span></span
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-17525"
              >
                <a class="nav-item" href="/integration/integration-services/"
                  >Third Party Integration Services</a
                >
              </li>
              <li
                class="menu-item menu-item-type-post_type menu-item-object-services menu-item-21323"
              >
                <a
                  class="nav-item"
                  href="/integration/ai-driven-content-personalization/"
                  >AI-driven content personalization</a
                >
              </li>
            </ul>
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-industries menu-item-18729"
          >
            <a
              class="nav-item"
              href="/industry/healthcare-software-development/"
              >Healthcare</a
            >
          </li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-industries menu-item-20978"
          >
            <a
              class="nav-item"
              href="/industry/custom-elearning-software-development/"
              >eLearning</a
            >
          </li>
        </ul>
      </li>
      <!-- <li
        class="menu-item menu-item-type-post_type_archive menu-item-object-cases menu-item-has-children menu-item-384"
      >
        <a class="nav-item subMenuOpen" href="cases.html"
          >Case Studies<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19442"
          >
            <a class="nav-item" href="cases.html">All Cases</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14517"
          >
            <a
              class="nav-item"
              href="cases41e3.html?service=online-betting-and-gambling"
              >Sports Betting and iGaming</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14518"
          >
            <a class="nav-item" href="cases26d8.html?service=cloud-devops"
              >Cloud &#038; DevOps</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19443"
          >
            <a
              class="nav-item"
              href="cases3997.html?service=healthcare-software-development"
              >Healthcare</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14516"
          >
            <a
              class="nav-item"
              href="cases8c50.html?service=agile-transformation"
              >Agile Transformation</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19444"
          >
            <a
              class="nav-item"
              href="cases37f7.html?service=elearning-software-development"
              >eLearning</a
            >
          </li>
          <li
            class="mobile-only menu-item menu-item-type-post_type_archive menu-item-object-cases menu-item-14519"
          >
            <a class="nav-item" href="cases.html">View all</a>
          </li>
        </ul>
      </li> -->
      <li
        class="hide-submenu-desk1 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-443"
      >
        <a class="nav-item subMenuOpen" href="/company/"
          >Company<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="hideSubmenu menu-item menu-item-type-custom menu-item-object-custom menu-item-5931"
          >
            <a class="nav-item" href="/company/#meet-cyber-craft-solutions"
              >Meet Cyber Craft Solutions</a
            >
          </li>
          <li
            class="hideSubmenu menu-item menu-item-type-custom menu-item-object-custom menu-item-5932"
          >
            <a class="nav-item" href="/company/#people-and-culture"
              >People and Culture</a
            >
          </li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-341"
      >
        <a class="nav-item subMenuOpen" href="/insight/"
          >Insights<span class="nav-arrow arrow-right ml-1"
            ><svg class="svg-icon">
              <use xlink:href="#icon-arrow-right"></use></svg></span
        ></a>
        <ul class="sub-menu px-5 py-4">
          <li class="sub-menu--title mb-3">
            <span class="nav-item subMenuClose"
              ><span class="nav-arrow arrow-left"
                ><svg class="svg-icon">
                  <use xlink:href="#icon-arrow-left"></use></svg></span
              ><span class="subMenuCloseTitle">Go Back</span></span
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12578"
          >
            <a class="nav-item" href="/insight/?category=article">Articles</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12579"
          >
            <a class="nav-item" href="/insight/?category=news">News</a>
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12580"
          >
            <a class="nav-item" href="/insight/?category=whitepaper"
              >Whitepapers</a
            >
          </li>
          <li
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12581"
          >
            <a class="nav-item" href="/insight/?category=event">Events</a>
          </li>
        </ul>
      </li>
      <li
        class="d-lg-inline-flex pl-lg-2 pl-xl-3 nav-item--btn menu-item menu-item-type-post_type menu-item-object-page menu-item-347"
      >
        <a class="nav-item" href="/contact-us/">Contact Us</a>
      </li>
      <!-- <li class="nav-item--search d-none d-md-block pl-lg-2 pl-xl-3 mr-xl-n4 menu-item menu-item-type-custom menu-item-object-custom menu-item-8242"><a class="nav-item">Search</a></li> -->
    </ul>
  </div>
</nav>
