<!-- offices section -->
<section class="py-5">
  <div class="container">
    <h2 class="txt-ttl-2 cl-black mb-5">Our Offices</h2>
    <div class="row">
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Corporate Headquarters</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The USA, Boston</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/ zHc1ATgkqB8PbXcd6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              87 Sleeper Street, 1st Floor, Boston, MA 02110
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@cybercraft-solutions.com"
              class="text-decoration-none cl-accent-4"
            >
              info@cybercraft-solutions.com
            </a>
          </div>
        </div>
        <div class="mb-4">
          <h4 class="txt-ttl-3 cl-black mb-2 offices-big_title">
            Headquarters
          </h4>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The PAKISTAN, Lahore</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/ 1SZQw3AkXEfM4Lnh6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              Office # 77, 2nd Floor, Dafterkhuan Lahore, PAKISTAN
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@cybercraft-solutions.com"
              class="text-decoration-none cl-accent-4"
            >
              info_pk@cybercraft-solutions.com
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Delivery Centers</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The PAKISTAN, Lahore</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/ zHc1ATgkqB8PbXcd6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
            Office # 77, 2nd Floor, Dafterkhuan Lahore, PAKISTAN
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@cybercraft-solutions.com"
              class="text-decoration-none cl-accent-4"
            >
              info_pk@cybercraft-solutions.com
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Sales Offices</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The USA, Boston</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/ 1SZQw3AkXEfM4Lnh6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
            87 Sleeper Street, 1st Floor, Boston, MA 02110
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@cybercraft-solutions.com"
              class="text-decoration-none cl-accent-4"
            >
              info@cybercraft-solutions.com
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Nigeria, Africa</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/ L4EGhP8yfih9JVPw8"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              58-60 De Keyserlei, Nigeria, Africa
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@cybercraft-solutions.com"
              class="text-decoration-none cl-accent-4"
            >
              info_ng@cybercraft-solutions.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END offices section -->
