<!-- offices section -->
<section class="py-5">
  <div class="container">
    <h2 class="txt-ttl-2 cl-black mb-5">Our Offices</h2>
    <div class="row">
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Corporate Headquarters</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The Netherlands, Amsterdam</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/zHc1ATgkqB8PbXcd6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              25 Laarderhoogtweg, 1101 EB Amsterdam, The Netherlands
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4">
          <h4 class="txt-ttl-3 cl-black mb-2 offices-big_title">
            Headquarters
          </h4>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The USA, Boston</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/1SZQw3AkXEfM4Lnh6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              77 Sleeper Street, 2nd Floor, Boston, MA 02210
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Delivery Centers</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The Netherlands, Amsterdam</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/zHc1ATgkqB8PbXcd6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              25 Laarderhoogtweg, 1101 EB Amsterdam, The Netherlands
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Ukraine, Lviv</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/3mVVZZK8iYQATBZB6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              2b Naukova Street, 79053 Lviv, Ukraine
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Macedonia, Skopje</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/FfvaabPhf3t58Lkw9"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              3a Skupi, 1000 Skopje, Republic of Macedonia
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info_mk@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info_mk@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Poland, Krakow</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/8ctBptpJ1xLu8ALfA"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              25 Armii Krajowej Street, Krakow, Poland
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info_pl@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info_pl@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Poland, Rzeszow</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/A8umEg83K9XYJafs7"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              20 Siemienskiego, 35-234 Rzeszow
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info_pl@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info_pl@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 pr-xl-4">
        <h3 class="txt-ttl-3 cl-black mb-4">Sales Offices</h3>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The USA, Boston</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/1SZQw3AkXEfM4Lnh6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              77 Sleeper Street, 2nd Floor, Boston, MA 02210
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">Belgium, Antwerpen</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/L4EGhP8yfih9JVPw8"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              58-60 De Keyserlei, 2018 Antwerpen, Belgium
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:info@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              info@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
        <div class="mb-4 pb-2">
          <h4 class="txt-ttl-5 cl-black mb-2 ">The Netherlands, Amsterdam</h4>
          <div class="mb-2">
            <a
              href="https://goo.gl/maps/zHc1ATgkqB8PbXcd6"
              class="text-decoration-none cl-main"
              target="_blank"
            >
              25 Laarderhoogtweg, 1101 EB, Amsterdam, The Netherlands
            </a>
          </div>
          <div class="txt-body-3">
            <a
              href="mailto:sales@Cyber Craft-solutions.eu"
              class="text-decoration-none cl-accent-4"
            >
              sales@Cyber Craft-solutions.eu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END offices section -->
