---
layout: default
bodyClass: "archive post-type-archive post-type-archive-cases"
---

<!-- <div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for team in promoted_teams %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.linkedinurl %}
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content | truncate: 120 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "promoted", empty | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<section class="pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1
          class="txt-ttl-1 cl-black text-uppercase d-flex flex-wrap align-items-center"
        >
          Case Studies
          <a
            class="filter-trigger collapsed ml-auto d-md-none"
            href="#filter-sidebar"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="filter-sidebar"
          >
            Filter
            <svg class="svg-icon"><use xlink:href="#icon-filter"></use></svg>
          </a>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="pb-5 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0 mt-md-n3">
        <aside
          id="filter-sidebar"
          class="collapse collapse-mob sticky-sidebar sticky-md pt-md-3"
        >
          <form
            id="filterForm"
            action="https://Cyber Craft-solutions.com/wp-admin/admin-ajax.php"
            method="POST"
            data-type="cases"
            data-pathname="/cases"
            data-action="resourcesFilter"
            data-paged="8"
          >
            <div class="tax-group mb-5">
              <div class="txt-ttl-5 cl-black mb-3">Focus</div>
              <ul class="list-reset">
                <li class="mb-2">
                  <div class="ss-checkbox">
                    <input
                      name="service_tax"
                      value="healthcare-software-development"
                      id="service-healthcare-software-development"
                      type="checkbox"
                    />
                    <label for="service-healthcare-software-development"
                      >Healthcare</label
                    >
                  </div>
                </li>
                <li class="mb-2">
                  <div class="ss-checkbox">
                    <input
                      name="service_tax"
                      value="elearning-software-development"
                      id="service-elearning-software-development"
                      type="checkbox"
                    />
                    <label for="service-elearning-software-development"
                      >eLearning</label
                    >
                  </div>
                </li>
                <li class="mb-2">
                  <div class="ss-checkbox">
                    <input
                      name="service_tax"
                      value="online-betting-and-gambling"
                      id="service-online-betting-and-gambling"
                      type="checkbox"
                    />
                    <label for="service-online-betting-and-gambling"
                      >Sports Betting &amp; iGaming</label
                    >
                  </div>
                </li>
                <li class="mb-2">
                  <div class="ss-checkbox">
                    <input
                      name="service_tax"
                      value="agile-transformation"
                      id="service-agile-transformation"
                      type="checkbox"
                    />
                    <label for="service-agile-transformation"
                      >Agile Transformation</label
                    >
                  </div>
                </li>
                <li class="mb-2">
                  <div class="ss-checkbox">
                    <input
                      name="service_tax"
                      value="cloud-devops"
                      id="service-cloud-devops"
                      type="checkbox"
                    />
                    <label for="service-cloud-devops">Cloud &amp; DevOps</label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="d-block d-md-none text-center">
              <button id="filterBtn" class="ss-btn ss-btn--main">Filter</button>
              <hr class="ss-hr mt-4" />
            </div>
          </form>
        </aside>
      </div>

      <div class="col-md-9 col-xl-8">
        <div id="filterResults" class="mr-md-n4 mr-lg-0">
          <div class="mb-4">
            <a
              href="cases/addressing-service-interruption-issues-with-ui-improvements.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2023/02/case-L-2.png"
                      alt="Addressing Service Interruption Issues with Quick and Cost-Effective UI Improvements  "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Addressing Service Interruption Issues with Quick and
                      Cost-Effective UI Improvements
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">Experience Design</li>
                                <li class="text-truncate">Service Design</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 5</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/developing-a-data-warehouse-solution-with-data-ingestion-process.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2023/02/banner-for-case-page-3.png"
                      alt="Developing a Data Warehouse Solution with Scalable Data Ingestion Process "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Developing a Data Warehouse Solution with Scalable Data
                      Ingestion Process
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Data &amp; Analytics
                                </li>
                                <li class="text-truncate">
                                  Infrastructure Managed Services
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Technologies</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">Apache AirFlow</li>
                                <li class="text-truncate">AWS</li>
                                <li class="text-truncate">Braze</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 4</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/designing-customer-personas.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2023/02/case-L-1.png"
                      alt="Designing personalized sales, marketing and support activities with customer personas "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Designing personalized sales, marketing and support
                      activities with customer personas
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">Experience Design</li>
                                <li class="text-truncate">Service Design</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 3</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/drupal-9-migration-and-optimization-for-20-sites.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2023/01/cover_case.png"
                      alt="Optimizing Development Time and Centralized Core with Drupal 9 Migration for 20 Sites "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Optimizing Development Time and Centralized Core with
                      Drupal 9 Migration for 20 Sites
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Application Development
                                </li>
                                <li class="text-truncate">
                                  Application modernization
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Technologies</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">Drupal</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 2</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/billing-system-built-by-ngos-for-ngos.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2023/01/case-L-2.jpg"
                      alt="Next-Gen, first to market billing system built by NGOs for NGOs "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Next-Gen, first to market billing system built by NGOs for
                      NGOs
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Data &amp; Analytics
                                </li>
                                <li class="text-truncate">
                                  Digital Marketing Orchestration
                                </li>
                                <li class="text-truncate">
                                  Sports Betting &amp; iGaming
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Technologies</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">Angular</li>
                                <li class="text-truncate">AWS</li>
                                <li class="text-truncate">CloudWatch</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 3</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/digital-marketing-audit-and-consultancy-for-pph-provider.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2022/12/case-L-3.png"
                      alt="Digital Marketing Audit for a Premium Bookie and Agent Software Solutions Provider"
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Digital Marketing Audit for a Premium Bookie and Agent
                      Software Solutions Provider
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Data &amp; Analytics
                                </li>
                                <li class="text-truncate">
                                  Digital Marketing Orchestration
                                </li>
                                <li class="text-truncate">
                                  Sports Betting &amp; iGaming
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 2</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/aws-infrastructure-solution-for-hpe.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2022/11/banner-for-case-page-2.png"
                      alt="Creating Secure AWS VPN Connection with Complex Hybrid Cloud Authentication for SAP Solution "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Creating Secure AWS VPN Connection with Complex Hybrid
                      Cloud Authentication for SAP Solution
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Cloud &amp; DevOps
                                </li>
                                <li class="text-truncate">
                                  Infrastructure Managed Services
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 3</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="mb-4">
            <a
              href="cases/availability-perfomance-optimization-for-sports-betting-platform.html"
              class="resource-tile bord-rad-2 d-block"
            >
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="resource-tile--img img-cover h-100 d-block">
                    <img
                      class="lazyload lazy-fade"
                      data-src="/images/uploads/sites/5/2022/11/banner-for-case-page-1.png"
                      alt="Offering High Availability and Performance for a Sports Betting Platform "
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div
                    class="resource-tile--content font-title h-100 d-md-flex flex-wrap p-3 p-lg-4"
                  >
                    <div
                      class="resource-tile--ttl txt-ttl-3 mb-1 mb-lg-3 cl-black h-limit-2 w-100"
                    >
                      Offering High Availability and Performance for a Sports
                      Betting Platform
                    </div>

                    <div class="w-100 mb-auto">
                      <div class="resource-tile--taxes mb-3">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Services</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">
                                  Application Development
                                </li>
                                <li class="text-truncate">
                                  Sports Betting &amp; iGaming
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="resource-tile--tax mb-2 b-quote mod-sm">
                              <span
                                class="resource-tile--tax-caption d-block cl-muted text-uppercase mb-2"
                                >Technologies</span
                              >
                              <ul class="list-reset cl-black">
                                <li class="text-truncate">ES5, ES6</li>
                                <li class="text-truncate">Javascript</li>
                                <li class="text-truncate">Kafka</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="resource-tile--footer d-flex flex-wrap align-items-center w-100 pt-2 pt-lg-4 mt-auto"
                    >
                      <span class="cl-muted mr-auto"
                        ><span class="span-reading-time rt-reading-time"
                          ><span class="rt-label rt-prefix"></span>
                          <span class="rt-time"> 2</span>
                          <span class="rt-label rt-postfix"></span
                        ></span>
                        min read</span
                      >
                      <span
                        class="btn-link more-link cl-accent-2 font-weight-bold text-uppercase"
                      >
                        Read Case
                        <svg class="svg-icon">
                          <use xlink:href="#icon-more"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="pt-5">
            <nav
              data-template="simple"
              id="filtersPagination"
              class="ss-pagination"
            >
              <span aria-current="page" class="page-link filterPager current"
                >1</span
              >
              <a class="page-link filterPager" data-href="cases/page/2.html"
                >2</a
              >
              <a class="page-link filterPager" data-href="cases/page/3.html"
                >3</a
              >
              <a class="page-link filterPager" data-href="cases/page/4.html"
                >4</a
              >
              <a class="page-link filterPager" data-href="cases/page/5.html"
                >5</a
              >
              <a class="page-link filterPager" data-href="cases/page/6.html"
                >6</a
              >
              <a class="page-link filterPager" data-href="cases/page/7.html"
                >7</a
              >
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
