---
layout: default
bodyClass: "page-template page-template-templates page-template-page-company page-template-templatespage-company-php page page-id-440"
---

<section class="pb-3 pb-lg-5">
  <div class="container">
    <div class="row">
      <!-- Left sidebar -->
      <div class="d-none d-md-block col-md-3 pt-md-4 mb-4 mb-md-0 mt-md-n3">
        <aside class="sticky-sidebar sticky-md pt-md-3">
          <h1 class="txt-ttl-3 cl-black mb-3">
            {{ page.title }}
          </h1>
          <nav class="side-nav">
            <ul
              id="content-tabs"
              class="nav nav-pills list-reset"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#meet-cyber-craft-solutions"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="content-tabs"
                  aria-selected="true"
                >
                  Meet Cyber Craft Solutions
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#people-and-culture"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="content-tabs"
                  aria-selected="false"
                >
                  People and Culture
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  target=""
                  href="corporate-social-responsibility.html"
                  >Corporate Social Responsibility</a
                >
              </li>
            </ul>
          </nav>
        </aside>
      </div>
      <!-- END Left sidebar -->

      <div class="col-md-9 col-xl-8 mb-3 mb-md-0">
        <!-- Show flexible content with anchors -->
        <div class="tab-content">
          <div
            id="meet-cyber-craft-solutions"
            class="tab-pane fade show active"
            role="tabpanel"
          >
            <h2 class="txt-ttl-1 text-uppercase cl-black mb-4">
              Meet Cyber Craft Solutions
            </h2>
            <!-- Flexible sections -->

            <article class="editor-content mb-5">
              <p>
                Cyber Craft Solutions is a Cloud Transformation Company,
                headquartered in Amsterdam with delivery centers in Ukraine,
                Poland, Macedonia and the Netherlands.<br />
                <img
                  loading="lazy"
                  class="alignnone wp-image-4281 size-full"
                  src="{{
                    'images/uploads/sites/5/2019/09/fb-cover-2.png'
                      | relative_url
                  }}"
                  alt="Cyber Craft Solutions culture"
                  width="1648"
                  height="610"
                />
              </p>
            </article>

            <div class="row">
              <div class="col-md-6 col-xl-4 mb-4">
                <div class="b-quote">
                  <h3 class="txt-ttl-3 cl-black mb-1">
                    6 Locations
                  </h3>
                  <div class="txt-body-3">USA, Western<br />and Eastern EU</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4 mb-4">
                <div class="b-quote">
                  <h3 class="txt-ttl-3 cl-black mb-1">
                    Cyber Craft<br /><svg
                      class="cl-accent-2 mr-1"
                      id="icon-pin"
                      style="width: 0.58em; height: 0.9em;"
                      viewBox="0 0 9 14"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <path
                          d="M4.37674 0C2.0651 0 0.0103189 2.07407 0.0103189 4.40741C-0.246529 7.77778 4.37674 14 4.37674 14C4.37674 14 9 7.77778 9 4.40741C9 2.07407 6.94522 0 4.37674 0ZM4.37674 6.22222C3.34934 6.22222 2.5788 5.44444 2.5788 4.40741C2.5788 3.37037 3.34934 2.33333 4.63358 2.33333C5.91782 2.33333 6.68837 3.11111 6.68837 4.40741C6.68837 5.7037 5.66098 6.22222 4.37674 6.22222Z"
                          fill="currentColor"
                        ></path>
                      </g></svg
                    >Anywhere
                  </h3>
                  <div class="txt-body-3">
                    Virtual office
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4 mb-4">
                <div class="b-quote">
                  <h3 class="txt-ttl-3 cl-black mb-1">
                    35+
                  </h3>
                  <div class="txt-body-3">International<br />Clients</div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4 mb-4">
                <div class="b-quote">
                  <h3 class="txt-ttl-3 cl-black mb-1">
                    10+ Years
                  </h3>
                  <div class="txt-body-3">
                    of Experience
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4 mb-4">
                <div class="b-quote">
                  <h3 class="txt-ttl-3 cl-black mb-1">
                    Hundreds
                  </h3>
                  <div class="txt-body-3">
                    IT professionals
                  </div>
                </div>
              </div>
            </div>

            <article class="editor-content mb-5">
              <p>
                Founded in 2008, Cyber Craft Solutions is now 600 people with over
                35 international clients, primarily in Western Europe and North
                America. A Boston office was recently opened to better
                accommodate American clients.
              </p>
              <p>
                Cyber Craft Solutions embraced Agile Transformation three years
                ago. Our LACE (Lean Agile Center for Excellence) coalition works
                with companies to educate, implement, and support their teams
                throughout their agile journeys. We have trained over 1000
                people including our own colleagues, clients, and those in
                communities in which we serve. We are agile-driven throughout
                all development teams and support services.
              </p>
              <p>
                <img
                  loading="lazy"
                  class="alignnone wp-image-2861 size-full"
                  src="{{
                    '/images/uploads/sites/5/2019/08/DSC_4325-%d0%bf-1440x631.jpg'
                      | relative_url
                  }}"
                  alt="Cyber Craft Solutions office space"
                  width="1440"
                  height="631"
                />
              </p>
            </article>

            <div id="accordion-group-4" class="row">
              <div class="col-md-6 mb-4">
                <div class="info-accordeon">
                  <div class="info-accordeon--img">
                    <img
                      class="lazyload lazy-fade"
                      data-src="{{
                        '/images/uploads/sites/5/2019/09/Philosophy-41.svg'
                          | relative_url
                      }}"
                      alt="Philosophy"
                    />
                  </div>
                  <div class="info-accordeon--content">
                    <a
                      class="info-accordeon--title collapsed d-block mb-3 pb-3"
                      href="#accordion-item-4-0"
                      data-toggle="collapse"
                      aria-expanded="false"
                    >
                      <div class="txt-ttl-3 cl-black mb-0">
                        Philosophy
                      </div>
                      <svg class="svg-icon cl-muted">
                        <use xlink:href="#icon-arrow-down"></use>
                      </svg>
                    </a>
                    <div
                      id="accordion-item-4-0"
                      class="collapse info-accordeon--collapse txt-body-3"
                    >
                      Our philosophy is rooted in respect and empathy which
                      guides how we manage all our relationships. This is at the
                      heart of our progress.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="info-accordeon">
                  <div class="info-accordeon--img">
                    <img
                      class="lazyload lazy-fade"
                      data-src="{{
                        '/images/uploads/sites/5/2019/07/Domain-40.svg'
                          | relative_url
                      }}"
                      alt="Clients"
                    />
                  </div>
                  <div class="info-accordeon--content">
                    <a
                      class="info-accordeon--title collapsed d-block mb-3 pb-3"
                      href="#accordion-item-4-1"
                      data-toggle="collapse"
                      aria-expanded="false"
                    >
                      <div class="txt-ttl-3 cl-black mb-0">
                        Clients
                      </div>
                      <svg class="svg-icon cl-muted">
                        <use xlink:href="#icon-arrow-down"></use>
                      </svg>
                    </a>
                    <div
                      id="accordion-item-4-1"
                      class="collapse info-accordeon--collapse txt-body-3"
                    >
                      We foster clients with mutual affinity which leads to more
                      solid, longer-term partnerships. As such, the lines
                      between client and service provider are blurred, and we
                      operate as a unified whole.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="info-accordeon">
                  <div class="info-accordeon--img">
                    <img
                      class="lazyload lazy-fade"
                      data-src="{{
                        '/images/uploads/sites/5/2019/07/Feature-Teams-38.svg'
                          | relative_url
                      }}"
                      alt="Colleagues"
                    />
                  </div>
                  <div class="info-accordeon--content">
                    <a
                      class="info-accordeon--title collapsed d-block mb-3 pb-3"
                      href="#accordion-item-4-2"
                      data-toggle="collapse"
                      aria-expanded="false"
                    >
                      <div class="txt-ttl-3 cl-black mb-0">
                        Colleagues
                      </div>
                      <svg class="svg-icon cl-muted">
                        <use xlink:href="#icon-arrow-down"></use>
                      </svg>
                    </a>
                    <div
                      id="accordion-item-4-2"
                      class="collapse info-accordeon--collapse txt-body-3"
                    >
                      Cyber Craft Solutions has learned that by investing value and
                      faith in our people, they, in turn, invest that value in
                      solving clients’ issues. This means they take ownership
                      for projects and determine means of fulfilling client
                      needs for the best end result.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="info-accordeon">
                  <div class="info-accordeon--img">
                    <img
                      class="lazyload lazy-fade"
                      data-src="{{
                        '/images/uploads/sites/5/2019/09/Clients-44.svg'
                          | relative_url
                      }}"
                      alt="Gender Parity"
                    />
                  </div>
                  <div class="info-accordeon--content">
                    <a
                      class="info-accordeon--title collapsed d-block mb-3 pb-3"
                      href="#accordion-item-4-3"
                      data-toggle="collapse"
                      aria-expanded="false"
                    >
                      <div class="txt-ttl-3 cl-black mb-0">
                        Gender Parity
                      </div>
                      <svg class="svg-icon cl-muted">
                        <use xlink:href="#icon-arrow-down"></use>
                      </svg>
                    </a>
                    <div
                      id="accordion-item-4-3"
                      class="collapse info-accordeon--collapse txt-body-3"
                    >
                      Cyber Craft Solutions has a reputation for aiming at a 50/50
                      gender split in response to a more natural and harmonious
                      work… environment. Colleagues are accustomed to lack of
                      gender bias, and women have always had equivalent in
                      salaries and career possibilities.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <article class="editor-content mb-5">
              <h2>Culture</h2>
              <p>
                While many of our esteemed local competitors are capable service
                providers, most would agree that differentiating factors usually
                center around culture. This means that what we do can be of
                equal quality, but the culture in which people live and work
                every day determines their preference of one environment over
                another.
              </p>
              <p>This applies equally to clients and colleagues.</p>
              <p>
                Because clients feel the warm, open, welcoming spirit of
                Cyber Craft Solutions and the creative and free environment, they
                feel at home with their Cyber Craft teams and company leadership.
              </p>
            </article>

            <div class="mb-5">
              <div class="embed-video">
                <div
                  class="rll-youtube-player"
                  data-src="https://www.youtube.com/embed/zVFqVhSLZKw"
                  data-id="zVFqVhSLZKw"
                  data-query="feature=oembed"
                ></div>
                <noscript
                  ><iframe
                    title="Write code like music! Cyber Craft Solutions"
                    width="640"
                    height="360"
                    src="https://www.youtube.com/embed/zVFqVhSLZKw?feature=oembed"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe
                ></noscript>
              </div>
            </div>

            <!-- Flexible sections -->
          </div>

          <div id="people-and-culture" class="tab-pane fade" role="tabpanel">
            <h2 class="txt-ttl-1 text-uppercase cl-black mb-4">
              People and Culture
            </h2>
            <!-- Flexible sections -->

            <article class="editor-content mb-5">
              <p>
                Cyber Craft Solutions’ distinct culture is the open, welcoming
                spirit, the freedom to be oneself, and the creative pride from
                the intrinsic link between technology and music. Adding to this
                spirit of freedom is the workplace home Cyber Craft Solutions
                creates in the Dutch-inspired office, designed around an open
                park setting and the Amsterdam Bar, where people love to
                congregate for coffee, lunch, or beer on casual Fridays.
              </p>
            </article>

            <div class="mb-5">
              <div class="embed-video">
                <div
                  class="rll-youtube-player"
                  data-src="https://www.youtube.com/embed/v9Hx2El3-Q4"
                  data-id="v9Hx2El3-Q4"
                  data-query="feature=oembed"
                ></div>
                <noscript
                  ><iframe
                    title="Write Code Like Music - Cyber Craft Solutions"
                    width="640"
                    height="360"
                    src="https://www.youtube.com/embed/v9Hx2El3-Q4?feature=oembed"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe
                ></noscript>
              </div>

              <div class="mt-5">
                <a
                  href="https://www.Cyber Craft-solutions.eu/"
                  class="ss-btn ss-btn--main"
                  target="_blank"
                >
                  Visit career website</a
                >
              </div>
            </div>

            <!-- Flexible sections -->
          </div>
        </div>
        <!-- END Show flexible content with anchors -->
      </div>
    </div>
  </div>
</section>

<!-- Contact banner -->

<section class="sec-banner pt-5">
  <div class="sec-banner--bg img-cover">
    <img
      class="lazyload lazy-fade"
      data-src="{{
        '/images/uploads/sites/5/2020/11/Key-facts.jpg' | relative_url
      }}"
      alt="Banner background image"
    />
  </div>

  <div class="container relative-z1 pt-lg-4">
    <div class="row align-items-lg-end">
      <div class="col-lg-5">
        <div data-aos="fade-up" data-aos-delay="250" class="mb-5 cl-white">
          <div class="txt-ttl-1 text-uppercase mb-3">KEY FACTS</div>
          <div class="txt-body-3">
            Cyber Craft Solutions recently celebrated its 10th Anniversary of
            continuous operation and expansion. The company is headquartered in
            Amsterdam with delivery centers in Ukraine, Poland, Macedonia and
            the Netherlands. Its newest office in Boston is the first location
            in the USA.
          </div>
        </div>

        <div
          data-aos="fade-up"
          data-aos-delay="500"
          class="mb-4 mb-lg-0 cl-white"
        >
          <div class="row pb-3">
            <div class="col-6 mb-3">
              <div class="infographic-col pl-3">
                <h3 class="txt-ttl-3 mb-2">6 Locations</h3>
                <div class="txt-body-3">The USA, Western and Eastern EU</div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="infographic-col pl-3">
                <h3 class="txt-ttl-3 mb-2">10+ Years</h3>
                <div class="txt-body-3">of Experience</div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="infographic-col pl-3">
                <h3 class="txt-ttl-3 mb-2">35+</h3>
                <div class="txt-body-3">International Clients</div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="infographic-col pl-3">
                <h3 class="txt-ttl-3 mb-2">Hundreds</h3>
                <div class="txt-body-3">IT professionals</div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <div class="infographic-col pl-3">
                <h3 class="txt-ttl-3 mb-2">
                  Cyber Craft<br /><svg
                    class="cl-accent-2 mr-1"
                    id="icon-pin"
                    style="width: 0.58em; height: 0.9em;"
                    viewBox="0 0 9 14"
                  >
                    <g
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <path
                        d="M4.37674 0C2.0651 0 0.0103189 2.07407 0.0103189 4.40741C-0.246529 7.77778 4.37674 14 4.37674 14C4.37674 14 9 7.77778 9 4.40741C9 2.07407 6.94522 0 4.37674 0ZM4.37674 6.22222C3.34934 6.22222 2.5788 5.44444 2.5788 4.40741C2.5788 3.37037 3.34934 2.33333 4.63358 2.33333C5.91782 2.33333 6.68837 3.11111 6.68837 4.40741C6.68837 5.7037 5.66098 6.22222 4.37674 6.22222Z"
                        fill="currentColor"
                      ></path>
                    </g></svg
                  >Anywhere
                </h3>
                <div class="txt-body-3">Virtual office</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div
          data-aos="fade-up"
          data-aos-delay="750"
          class="shadow-panel p-4 px-xl-5 mb-n5"
        >
          <div class="cl-black p-3">
            <div class="txt-ttl-2 mb-4">Let's Meet</div>
            <div class="txt-body-1 font-weight-bold mb-4">
              Tell us briefly about your project, and we will contact you within
              a day.
            </div>

            <div class="ss-form">
              <div
                role="form"
                class="wpcf7"
                id="wpcf7-f716-o1"
                lang="en-US"
                dir="ltr"
              >
                <div class="screen-reader-response">
                  <p role="status" aria-live="polite" aria-atomic="true"></p>
                  <ul></ul>
                </div>
                <form
                  action=""
                  method="post"
                  class="wpcf7-form init"
                  enctype="multipart/form-data"
                  novalidate="novalidate"
                  data-status="init"
                >
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="716" />
                    <input type="hidden" name="_wpcf7_version" value="5.6.3" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input
                      type="hidden"
                      name="_wpcf7_unit_tag"
                      value="wpcf7-f716-o1"
                    />
                    <input
                      type="hidden"
                      name="_wpcf7_container_post"
                      value="0"
                    />
                    <input
                      type="hidden"
                      name="_wpcf7_posted_data_hash"
                      value=""
                    />
                  </div>
                  <div class="row mix-col">
                    <div class="col-md-6 field-name">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-name"
                        ><input
                          type="text"
                          name="your-name"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ss-input"
                          aria-required="true"
                          aria-invalid="false"
                          placeholder="Your Full Name *"
                      /></span>
                    </div>
                    <div class="col-md-6 field-email">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-email"
                        ><input
                          type="email"
                          name="your-email"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email ss-input"
                          aria-required="true"
                          aria-invalid="false"
                          placeholder="Your Email *"
                      /></span>
                    </div>
                    <div class="col-md-6 field-location">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-location"
                        ><input
                          type="text"
                          name="your-location"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text ss-input"
                          aria-invalid="false"
                          placeholder="Your location"
                      /></span>
                    </div>
                    <div class="col-md-6 field-company">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-company"
                        ><input
                          type="text"
                          name="your-company"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text ss-input"
                          aria-invalid="false"
                          placeholder="Your Company"
                      /></span>
                    </div>
                  </div>
                  <div class="row no-gutters mix-col field-documents">
                    <div class="col-md-6">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-description"
                        ><input
                          type="text"
                          name="your-description"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text ss-input"
                          aria-invalid="false"
                          placeholder="Describe your project"
                      /></span>
                    </div>
                    <div class="col-md-6">
                      <div class="ss-file">
                        <span
                          class="wpcf7-form-control-wrap"
                          data-name="project-description"
                          ><input
                            type="file"
                            name="project-description"
                            size="40"
                            class="wpcf7-form-control wpcf7-file"
                            accept=".pdf,.doc,.docx"
                            aria-invalid="false"
                        /></span>
                        <span class="sr-only fileInputText"
                          ><svg class="svg-icon-parent mr-1">
                            <use xlink:href="#icon-attach"></use>
                          </svg>
                          Upload file</span
                        >
                        <span
                          class="ss-file--placeholder filePlaceholder"
                        ></span>
                        <span class="ss-file--reset fileReset">×</span>
                        <label
                          ><svg class="svg-icon-parent mr-1">
                            <use xlink:href="#icon-attach"></use>
                          </svg>
                          or upload a file</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="acceptance-box"
                        ><span class="wpcf7-form-control wpcf7-acceptance"
                          ><span class="wpcf7-list-item"
                            ><label
                              ><input
                                type="checkbox"
                                name="acceptance-box"
                                value="1"
                                aria-invalid="false"
                              /><span class="wpcf7-list-item-label"
                                >I have read and accepted the
                                <a href="privacy-policy.html">privacy policy</a>
                                on Cyber Craft-solutions.com</span
                              ></label
                            ></span
                          ></span
                        ></span
                      >
                    </div>
                    <div class="col-md-5">
                      <input
                        type="submit"
                        value="Contact Us"
                        class="wpcf7-form-control has-spinner wpcf7-submit ss-btn ss-btn--main"
                      />
                    </div>
                  </div>
                  <div class="d-none">
                    <span
                      class="wpcf7-form-control-wrap"
                      data-name="redirectUrl"
                      ><input
                        type="text"
                        name="redirectUrl"
                        value="https://Cyber Craft-solutions.com/thank-you-for-submission"
                        size="40"
                        class="wpcf7-form-control wpcf7-text d-none"
                        aria-invalid="false"
                    /></span>
                  </div>
                  <p style="display: none !important;">
                    <label
                      >&#916;<textarea
                        name="_wpcf7_ak_hp_textarea"
                        cols="45"
                        rows="8"
                        maxlength="100"
                      ></textarea></label
                    ><input
                      type="hidden"
                      id="ak_js_1"
                      name="_wpcf7_ak_js"
                      value="54"
                    />
                  </p>
                  <div class="wpcf7-response-output" aria-hidden="true"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END Contact banner -->
