---
layout: compress
---

<!DOCTYPE html>
<html lang="en" class="no-js {{ layout.htmlClass }}">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <head>
    {% include meta_inf.html%}

    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
      media="all"
      data-minify="1"
    />
  </head>

  <body class="{{ layout.bodyClass }}">
    {% include header.html%}
    <main class="ss-main">
      <nav class="ss-breadcrumbs py-4">
        <div class="container">
          <div
            class="ss-breadcrumbs--row d-flex flex-nowrap align-items-center"
          >
            <!-- breadcrumb-->
          </div>
        </div>
      </nav>
      {{ content }}
    </main>
    <footer class="ss-footer pb-3">
      {% if page.show_lets_meet_section %} {% include letsmeet.html %} {% endif
      %}
      <section class="ss-footer--main pt-5">
        <div class="container pt-5">
          {% include footer.html %} {% include sub-footer.html %}
        </div>
      </section>
    </footer>
    {% include svgs.html %} {% include subscribe-model.html %}
    <script
      type="text/javascript"
      src="{{ '/assets/js/jquery8a54.js?ver=1.0.0' | relative_url }}"
      id="jquery-js"
    ></script>
    <script
      src="{{ '/assets/js/scripts.js' | relative_url }}"
      data-minify="1"
      defer
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    {% include google-analytics.html %}
  </body>
</html>
